<div class="d-flex container-fluid justify-content-between" style="width: 1020px; height: 297px;">
    <app-trip-card [img]="imgOne" [alt]="altOne" [text]="textOne"></app-trip-card>
    <app-trip-card [img]="imgTwo" [alt]="altTwo" [text]="textTwo"></app-trip-card>
    <app-trip-card [img]="imgThree" [alt]="altThree" [text]="textThree"></app-trip-card>
    <div class="align-items-center justify-content-center d-flex" style="height: 100%; margin-right: -100px;">
        <div class="border m-3 arrow align-items-center justify-content-center d-flex">
            <img src="../../../../assets/images/arrow-right.svg" alt="arrow-right">
        </div>
    </div>
</div>
<div class="m-5 d-flex justify-content-center">
    <div class="first-ball"></div>
    <svg class="mx-1" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
        <circle cx="5" cy="5" r="5" fill="#667B85" fill-opacity="0.3"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
        <circle cx="5" cy="5" r="5" fill="#667B85" fill-opacity="0.3"/>
      </svg>
</div>