.arrow {
    width: 41px;
    height: 41px;
    border-radius: 6px;
    border: 1px solid rgba(102, 123, 133, 0.30);
    background: #FFF;
    margin-top: 150px;
}

.first-ball {
    width: 22px;
    height: 10px;
    border-radius: 10px;
    background: #009DDB;
}