<div class="d-flex container-fluid my-4 footer-container justify-content-center align-items-center" style="padding-top: 30px;">
    <div class="container mt-5 justify-content-center main-content">
        <h1 class="body-heading">Indian Railway</h1>
        <p class="my-4">Indian Railway Catering and Tourism Corporation is an Indian public sector undertaking that provides ticketing, <br>
            catering, and tourism services for the Indian Railways. The aim of IRCTC is to online ticketing, <br>
            oversee catering, and tourism operations in Indian Railways.</p>
    </div>
</div>
