<div class="d-flex container-fluid my-4 footer-container justify-content-center align-items-center" style="padding-top: 30px;">
    <div class="container mt-5 justify-content-center main-content">
        <h1 class="body-heading">Indian Railway</h1>
        <p class="my-4">Indian Railway Catering and Tourism Corporation is an Indian public sector undertaking that provides ticketing, <br>
            catering, and tourism services for the Indian Railways. The aim of IRCTC is to online ticketing, <br>
            oversee catering, and tourism operations in Indian Railways.</p>
            <app-carousel></app-carousel>
            <app-body-journey></app-body-journey>
        <div class="heading-body-inside" style="margin-top: 130px;">
            <h1 class="body-heading">Still Searching for the Perfect Services?</h1>
            <h1 class="my-4" style="font-weight: 500;">Discover the one that fits your need here.</h1>
        </div>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center" style="margin-top: 70px;">
    <app-choise-card class="m-3" [svg]="svgOne" [svgText]="svgTextOne"></app-choise-card>
    <app-choise-card class="m-3" [svg]="svgTwo" [svgText]="svgTextTwo"></app-choise-card>
    <app-choise-card class="m-3" [svg]="svgThree" [svgText]="svgTextThree"></app-choise-card>
    <app-choise-card class="m-3" [svg]="svgFour" [svgText]="svgTextFour"></app-choise-card>
    <app-choise-card class="m-3" [svg]="svgFive" [svgText]="svgTextFive"></app-choise-card>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center" style="margin-bottom: 130px;">
    <app-choise-card class="m-3" [svg]="svgSix" [svgText]="svgTextSix"></app-choise-card>
    <app-choise-card class="m-3" [svg]="svgSeven" [svgText]="svgTextSeven"></app-choise-card>
    <app-choise-card class="m-3" [svg]="svgEight" [svgText]="svgTextEight"></app-choise-card>
    <app-choise-card class="m-3" [svg]="svgNine" [svgText]="svgTextNine"></app-choise-card>
    <app-choise-card class="m-3" [svg]="svgTen" [svgText]="svgTextTen"></app-choise-card>
</div>
