.choise-card {
    width: 181px;
    height: 181px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #D9D0E3;
    background: #FFF;
}

.choise-card-typography {
    color: #667B85;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}