.partners-typography {
    color: #667B85;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.partners-card {
    background-image: url("../../../../assets/images/partners.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 488px;
    height: 36px;
}