<div>
    <div class="body-train">
        <div class="body-blur">
            <div class="container-content-body m-5">
                <h3 class="heading-typography">Embark on a Journey Fit for Royalty</h3>
                <p style="position: absolute;">Discover India’s Treasures on The Deccan Odyssey Train</p>
                <button class="btn btn-primary my-5 btn-journey" style="position: absolute; left: 0;">Book Now</button>
            </div>
            <div class="body-blur-blur d-flex justify-content-center align-items-center">
                <div class="d-flex" style="position: absolute; left: 0; margin-left: 60px;">
                    <div class="first-ball"></div>
                    <svg class="mx-1" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                        <circle cx="4" cy="4" r="4" fill="#CDD3D6"/>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                        <circle cx="4" cy="4" r="4" fill="#CDD3D6"/>
                      </svg>
                </div>
                <p style="margin-top: 10px;">Journey Available From 2 Night/3 Days - 6 Nights/7 Days</p>
            </div>
        </div>
    </div>
</div>